@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,600;6..12,700&family=Roboto:wght@100;300;400;500;700&family=Ubuntu&display=swap');

:root {
    --red: #ff3838;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background-color: #ffffff;
}

#navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.logo {
    font-size: 2.9rem;
    font-weight: bolder;
    color: #ffffff;
}

.logo i {
    padding-right: .7rem;
    color: var(--red);
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    padding: 4px;
}

#navbar ul li a{
    font-size: 1.9rem;
    margin-left: 2rem;
    color: #cdc7c7;
}
#navbar ul li a:hover{
    color: #ffffff;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg/bgnew.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: color-burn;
}

#home h4{
    color: white;
    text-align: center;
}
#home h2{
    color: white;
    text-align: center;
    font-size: 6.5rem;
}

.h-primary{
    font-family: math;
    font-size: 2rem;
    padding: 25px;
}

.btn {
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 4rem;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .1s linear;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover {
    color: #fff;
}

section {
    padding: 6rem 9%;
}

.sec-2 .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6.5rem 15rem;
}

.sec-2 .box-container .box {
    flex: 1 1 30rem;
}

.sec-2 .box-container .box .content img {
    margin: 1.5rem 0;
    width: 47rem;
    height: 34rem;
}

.sec-2 .box-container .box .content h2 {
    font-size: 3.8rem;
    color: #030303;
}

.sec-2 .box-container .box .content p {
    font-size: 1.6rem;
    font-family: math;
    color: #666;
    padding: 1rem 0;
    margin-top: 0.5rem;
}
.sec-2 .box-container .box .content .pmain {
    font-size: 1.6rem;
    font-family: math;
    color: #666;
    padding: 1rem 0;
    margin-top: 0.5rem;
    margin-bottom: 3.5rem;
}

.sec-2 .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.sec-2 .box-container .box .content .img {
    margin: 20rem 0;
    width: 40rem;
    height: 27rem;
}
.sec-2 .box-container .box .content .img4 {
    margin: 2rem 0;
    width: 47rem;
    height: 33rem;
    margin-top: -20rem;
}

.sec-3{
    margin: 100px auto;
    margin-top: -2.3rem;
    background-color: black;
}

.menu-section{
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
}

.menu-section h2{
   color: #fff;
   font-size: 29px;
   position: relative;
   display: inline-block;
   padding-bottom: 10px;
   margin-bottom: 22px;
}

.menu-section h2::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: var(--red);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
 }

.sec-3 h1 {
    color: var(--red);
    margin-bottom: 10px;
    font-size: 43px;
}
.sec-3 p {
    font-size: 1.3rem;
    font-family: math;
    color: #666;
    padding: 1rem 0;
    margin-top: 0.5rem;
}

.sec-3 .menu-btn {
    padding: 0.8rem 1rem;
    color: black;
    cursor: pointer;
    font-size: 1.7rem;
    margin-top: 8rem;
    margin-left: 45rem;
    background-color: #fff;
    font-family: -webkit-body;
}

.menu-btn:hover{
    background-color: #e9e5e5;
}

 .menus{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .menu-column{
    width: 31%;
 }

 .menu-column h4{
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
    margin-left: 20px;
 }
 
 .menu-column h4::before{
   content: '';
   position: absolute;
   width: 40px;
   height: 2px;
   background-color: var(--red);
   bottom: 0;
 }

 .single-menu{
    display: flex;
    align-items: center;
    margin-top: 40px;
 }

 .single-menu img{
    max-width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 3px;
    margin-right: 15px;
    transition: .3s;
 }

 .single-menu:hover img{
    transform: rotate(360deg);
 }

.single-menu .menu-content h5{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px dashed #2e2d2d;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.single-menu .menu-content h5 span{
    color: var(--red);
    font-weight: 600;
    font-style: italic;
    margin-left: 5px;
}
 
.sec-4{
    margin-top: -10rem;
    height: 340px;
    background-image: url(./images/sec4img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    background-color: rgb(0 0 0 /78%);
    background-blend-mode: color-burn;
}
.sec-4 h4{
    color: #fff;
    padding: 20px;
    font-size: 1.5rem;
    margin-bottom: -1rem;
}

.sec-4 h2{
    color: #fff;
    padding: 25px;
    font-size: 5.5rem;
}

.sec-4 p{
    color: #fff;
    font-size: 1.4rem;
    width: 587px;
    margin-top: 15px;
    font-family: math;
}

.sec-5 .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.sec-5 .box-container .box {
    flex: 1 1 30rem;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: .5rem;
}

.sec-5 .box-container .box .image {
    height: 100%;
    width: 100%;
}

.sec-6 .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6.5rem 15rem;
}

.sec-6 .box-container .box {
    flex: 1 1 30rem;
}

.sec-6 .box-container .box .content .img1 {
    margin: 1.5rem 0;
    width: 47rem;
}

.sec-6 .box-container .box .content h2 {
    font-size: 4.3rem;
    color: #030303;
}

.sec-6 .box-container .box .content p {
    font-size: 1.4rem;
    font-family: math;
    color: #666;
    padding: 1rem 0;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
}

.sec-6 .box-container .box .content .img2 {
    margin: 1.5rem 0;
    width: 40rem;
}

.sec-6 .box-container .box .content .img3 {
    float: right;
    margin: -30rem 8px;
    width: 47rem;
}

.sec-7{
    margin-top: 35rem;
    height: 450px;
    background-image: url(./images/section7/0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    background-color: rgb(0 0 0 /78%);
    background-blend-mode: color-burn;
}

.sec-7 h4{
    margin-top: 2rem;
    text-align: center;
    color: #fff;
    padding: 20px;
    font-size: 1.5rem;
}

.sec-7 h2{
    text-align: center;
    color: #fff;
    font-size: 5.5rem;
    margin-bottom: 45px;
}

.sec-7 h2 span{
    color: var(--red);
}

.sec-7 .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.sec-7 .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: 1.2rem;
    flex: 1 1 30rem;
    background:#181717;
    margin-top: 6rem;
}

.sec-7 .box-container .box img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: .5rem solid;
    border-color: #fff;
    margin-top: -8rem;
    object-fit: cover;
}

.sec-7 .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.sec-7 .box-container .box .stars i {
    font-size: 2rem;
    color: var(--red);
    padding: .5rem 0;
}

.sec-7 .box-container .box p {
    font-size: 1.5rem;
    font-family: math;
    color: #eee;
    padding: 1rem 0;
}

.sec-8{
    margin-top: 20rem;
}

.sec-8 h2{
    font-size: 4.5rem;
    padding: 10px;
    text-align: center;
}

.sec-8 p{
    width: 108rem;
    padding: 20px;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-family: math;
    color: #666;
}

.sec-8 a{
    color: #030303;
    border: 2px solid black;
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    margin-left: 46rem;
    font-family: math;
}

.sec-8 a:hover{
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.sec-8 h4{
    padding: 10px;
    text-align: center;
    margin-top: 7rem;
    font-size: small;
}

.sec-8 img{
    height: 287px;
    margin-top: -13rem;
    margin-left: 88rem;
}

.sec-9{
    height: 500px;
    background-color: black;
    color: #fff;
    margin-top: -15rem;
}

.sec-9 .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: -0.5rem 9rem; */
    margin-top: 6rem;
    border-bottom:1px solid #f7f7f7;
}

.sec-9 .column-1{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.sec-9 .column-1 p{
    margin-top: 2.5rem;
    font-family: math;
    font-size: 1.5rem;
    color: #666;
}

.sec-9 .column-1 .social{
    display: flex;
    padding: 10px;
}

.sec-9 .column-1 .social a{
    padding: 10px;
}

.sec-9 .column-1 .social a i{
    font-size: 2.1rem;
    color: #ffffff;
    cursor: pointer;
}

.sec-9 .column-1 .social a i:hover{
    color:var(--red);
}

.sec-9 .column-2{
    width: 260px;
}

.sec-9 .column-2 h2{
    font-size: 2.6rem;
    font-weight: bolder;
    color: #ffffff;
}

.sec-9 .column-2 p{
    margin-top: 2.5rem;
    font-family: math;
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
}

.sec-9 .column-2 a{
    font-family: math;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 5px;
}

.sec-9 .column-2 a:hover{
   color: var(--red);
}

.sec-9 .column-2 a i{
    font-size: 2.1rem;
    color: #ffffff;
    cursor: pointer;
    padding: 8px;
}

.sec-9 .column-2 a i:hover{
    color: var(--red);
}

.sec-9 .column-3 h2{
    font-size: 2.6rem;
    font-weight: bolder;
    color: #ffffff;
}

.sec-9 .column-3 .nav{
    margin-top: 1.9rem;
    display: flex;
    flex-direction: column;
    padding-top: 5px;  
}

.sec-9 .column-3 .nav a{
    font-family: math;
    font-size: 1.5rem;
    color: #666;
    margin-bottom: .5rem; 
}

.sec-9 .column-3 .nav a:hover{
    color: var(--red);
}

.sec-9 .column-4{
    width: 208px;
}

.sec-9 .column-4 h2{
    font-size: 2.6rem;
    font-weight: bolder;
    color: #ffffff;
}

.sec-9 .column-4 p{
    margin-top: 2.5rem;
    font-family: math;
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
}

.sec-9 .column-4 p i{
    font-size: 2.1rem;
    color:var(--red);
    cursor: pointer;
    padding: 8px;
}

.sec-9 .column-4 p span{
    color: #fff;
    margin-top: 2.5rem;
    font-family: math;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.sec-9 .column-4 a{
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    font-size: 2rem;
    padding: 6px;
    text-align: center;
    font-family: math;
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.sec-9 .column-4 a:hover{
    background-color: rgb(255, 255, 255);
    color: #070707;
    cursor: pointer;
}

.credit{
    margin-top: 2.5rem;
    font-family: math;
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
    text-align: center;
}

.credit span{
    margin-top: 2.5rem;
    font-family: math;
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 2rem;
    text-align: center;
}

@media(max-width: 992px){

    #home h2{
        font-size: 2.5rem;
    }
}

